
/*General page setup and spacing*/
html, body {
  width: 100%;
  margin: 0px;
  font-family: Open Sans;
}

main {
  position: fixed;
  background-color: #455A64;
  width: 50%;
  height: 100%;
}

aside {
  position: absolute;
  right: 0%;
  background-color: #CFD8DC;
  width: 50%;
  height: 100%;
}

section {
  text-align: center;
  margin: 0px 8%;
}

/*Page content*/
h3 {
  color: #FFFFFF;
  font-size: 7vw;
  font-weight: 800;
  margin: 25% 0px 0px 0px;
}

img {
  width: 9vw;
}

.website-title {
  display: block;
  width: 97%;
  height: 3vw;
  margin: 4% 0px 8% 0px;
  padding: 1%;
  font-size: 3vw;
}

.website-url {
  display: block;
  width: 97%;
  height: 3vw;
  padding: 1%;
  font-size: 3vw;
}

.enter-button {
  background-color: #FFC107;
  color: #FFFFFF;
  width: 100%;
  margin: 8% 0px;
  padding: 1%;
  font-family: Open Sans;
  font-size: 3vw;
}

.enter-button:hover {
  background-color: #FFD773;
}

::placeholder {
  color: lightgrey;
}

.bookmark-container {
  width: 93%;
  border: 1px solid #607D8B;
  padding: 11px;
  margin: 9px;
  background-color: white;
}

.read {
  background-color: #F2F4F4;
}

hr {
  color: #CFD8DC;
  background-color: #CFD8DC;

}

.bookmark-name {
  color: #455A64;
  margin: 0;
  font-size: 23px;
  font-weight: bold;

}

.url-styling {
  color: #607D8B;
  text-decoration-color: #CFD8DC;
}

.url-line {

}

.not-read {
  padding: 0;
}


.delete {
  float: right;
  padding: 0;
}

.not-read,
.delete {
  border: 0;
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.url-styling:hover,
.not-read:hover,
.delete:hover {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}
